$primary-color: #336699;
$secondary-color: #cccccc;


body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    border: 1px solid $secondary-color;
}


h1 {
    color: $primary-color;
    margin-bottom: 20px;
}

table {
    width: 80%;
}

thead {
    background-color: $primary-color;
    color: white;
}

th {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: $secondary-color;
}

td:first-child {
    font-weight: bold;
}


button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darken($primary-color, 10%);
}

button:active {
    background-color: darken($primary-color, 20%);
}