$main-font: Arial, sans-serif;
$background-color: #f2f2f2;
$border-color: #f1f1f1;
$input-border-color: #ccc;
$button-background-color: #007BFF;
$backbtn-background-color: #f44336;

body {
    font-family: $main-font;
    background-color: $background-color;
}

h2 {
    text-align: center;
}

form {
    background-color: #ffffff;
    border: 3px solid $border-color;
    margin: 0 auto;
    width: 300px;
    padding: 20px;
}

input[type=checkbox] {
    margin: 8px 0;
}

button {
    background-color: $button-background-color;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.backbtn {
    width: auto;
    padding: 10px 18px;
    background-color: $backbtn-background-color;
    color: white;
    border: none;
    cursor: pointer;
}

.container {
    padding: 16px;
}


@media screen and (max-width: 300px) {
    .backbtn {
        width: 100%;
    }
}