<!DOCTYPE html>
<html lang="en">

<!-- Website design inspiration:-->
<!-- https://cooklist.com/      -->
<!-- https://www.nutritics.com/en/support/shopping-lists  -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Organisation System</title>
    <link rel="stylesheet" href="./styles/index.css">
    <link rel="icon" href="/images/logo_favicon.png" type="image/png">
    <!-- For Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="header">
        <div class="header__logo-container">
            <img class="header__logo" src="/images/logo.png" alt="Logo">
            <span class="header__product-name">Food Organization System</span>
        </div>
        <nav class="header__navbar">
            <button class="header__navbar-button header__navbar-button--dashboard"
                onclick="location.href='./dashboard.html'">Dashboard</button>
            <div class="header__navbar-dropdown">
                <button class="header__navbar-button header__navbar-button--features">Features</button>
                <div class="header__navbar-dropdown-content">
                    <a href="#feature1">Create and Customize</a>
                    <a href="#feature2">Save and Manage</a>
                    <a href="#feature3">Explore and Find Ideas</a>
                </div>
            </div>
            <div class="header__navbar-right">
                <a class="header__navbar-item hidden" href="./user-settings.html">User Settings</a>
                <button class="header__navbar-button header__navbar-button--login"
                    onclick="location.href='./login.html'">Login</button>
                <button class="header__navbar-button header__navbar-button--signup"
                    onclick="location.href='./sign-up.html'">Sign Up</button>
            </div>
        </nav>

        <!-- Mobile view-->
        <div class="header__navbar-mobile">
            <button id="mobile-menu-toggle" class="header__navbar-button header__navbar-button--mobile">
                <i class="fas fa-bars"></i>
            </button>
            <div class="header__navbar-dropdown-mobile" id="mobileMenu">
                <a href="./dashboard.html">Dashboard</a>
                <a href="#features">Features</a>
                <a href="./market.html">Market</a>
                <a href="./login.html">Login</a>
                <a href="./sign-up.html">Sign Up</a>
            </div>
        </div>

    </header>

    <main>
        <section class="hero">
            <div class="hero__text">
                <h1>Food Organisation System</h1>
                <p>Manage your culinary preferences and create custom shopping lists with ease.</p>
            </div>
        </section>
        <img src="/images/hero_background.png" alt="Very cool image" class="hero__image">
        <section class="features">
            <div class="feature">
                <h2>Meal Planner</h2>
                <p>Plan your meals based on your preferences and available ingredients.</p>
            </div>
            <div class="feature">
                <h2>Pantry Management</h2>
                <p>Keep track of your pantry inventory and manage expiration dates.</p>
            </div>
            <div class="feature">
                <h2>Shopping Lists</h2>
                <p>Create and manage custom shopping lists based on your meal plans and pantry needs.</p>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer__links">
            <a class="footer__link" href="./tos.html">Terms of Service</a>
            <a class="footer__link" href="./privacy-policy.html">Privacy Policy</a>
            <a class="footer__link" href="./about.html">About</a>
        </div>
        <div class="footer__contact">
            <p>Contact us: contact@foodsystemorganisation.com</p>
            <p>Phone: +40 (740)000-000</p>
        </div>
        <div class="footer__social-media">
            <a href="#" class="footer__social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="footer__social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="footer__social-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="footer__social-icon"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </footer>

    <script type="module" src="./scripts/index.js"></script>
    <script>
        console.log('Index.html loaded.');
    </script>

</body>

</html>