<!DOCTYPE html>
<html>

<head>
    <title>Market</title>
    <link rel="stylesheet" href="styles/market.css">
</head>

<body>
    <header class="header">
        <div class="header__logo-container">
            <img class="header__logo" src="/images/logo.png" alt="Logo">
            <span class="header__product-name">Food Organization System</span>
            <h1 class="header__product-market">Market</h1>
        </div>

    </header>
    <main>
        <h2>Items</h2>

        <form id="add-item-form">
            <input type="text" id="new-item" placeholder="Item">
            <button type="button" id="sec">Buy</button>
            <button type="button" id="fir">Add</button>
        </form>
    </main>

</body>

</html>